<div class="row">
<% @posts.each do |post| %>
	<div class="col-md-5 post">
	
	<h1><%= link_to post.title , post_path(post.id)%></h1>
	<p>
		<%= image_tag post.user.avatar.url, width: 30, height: 30 %>
		Author: <%= post.user.nickname %> <br>
		
		Creeated at: <%= post.created_at %> <br>
		Update at: <%= post.updated_at %> <br>
	</p>

	 <%= link_to post do %>
        <p class="card-text"><%= truncate(post.body, length: 150) %></p>
     <% end %>


 	<% if current_user != nil and current_user.id == post.user_id %>
		<%= link_to "Edit", edit_post_path(post.id) %>
		<%= link_to "Delete", post_path(post.id), data: {confim: 'Are you sure?'}, method: :delete %>
	<% end %> 
	</div>


<% end %>
</div>


	