<div class="buttons">
<%= link_to "Upload photo" , new_photo_path, class: "btn btn-danger" %>
<%= link_to "Upload multiple image" , new_image_path, class: "btn btn-danger" %>
</div>
<br>
<% if @photos == [] %>
 Gallery empty
 
<% else %>
	<% @photos.each do |photo| %>
<div class="col-md-5 photo">
	<%= image_tag photo.photo_url, width: 400, height: 300 unless photo.blank?%>
	<p>Category: <%= photo.category.name %></p>
	<p>Name: <%= photo.name %></p>
	<p>User: <%= photo.user.nickname %></p>

<!-- 	<p><%= link_to "Like", like_photo_path(photo), method: :put %> (<%= photo.get_upvotes.size %>) or
		<%= link_to "Dislike", dislike_photo_path(photo), method: :put %> (<%= photo.get_downvotes.size %>)
	</p> -->
<p>
<%= link_to like_photo_path(photo), method: :put do %><span class="glyphicon glyphicon-thumbs-up"></span> (<%= photo.get_upvotes.size %>)<% end %> or 
<%= link_to dislike_photo_path(photo), method: :put do %> <span class="glyphicon glyphicon-thumbs-down"></span> (<%= photo.get_downvotes.size %>)<% end %>
</p>

<p>
<%= link_to "Edit", edit_photo_path(photo.id) %>
<%= link_to "Delete", photo_path(photo.id), data: {confim: 'Are you sure?'}, method: :delete %><br>
<p>
</div>
	<% end %>
<% end %>
