<h1><%= @post.title %></h1>
<div class="inf-block">
	Author: <%= @post.user.nickname %> |
	Creeated at: <%= @post.created_at %> |
	Update at: <%= @post.updated_at %>
</div>

<p><%= sanitize(@post.body) %></p>

<hr>
<% @comments.each do |comment| %>
<p>
<%= image_tag comment.user.avatar.url, width: 30, height: 30, class: "img-circle" %>
User <b><%= comment.user.nickname %></b> say: </p>
<p><%= comment.comment %></p>

<% if current_user != nil and current_user.id == comment.user_id %>
		<%= link_to "Edit", edit_post_postcomment_path(@post, comment) %>
		<%= link_to "Delete", post_postcomment_path(@post, comment), data: {confim: 'Are you sure?'}, method: :delete %>
	<% end %>


<hr>
<% end %>


<%= form_for :postcomment, url: post_postcomments_path(@post.id), method: :post do |f| %>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<p><%= f.label "Leave your comment: " %></p>
	<p><%= f.text_area :comment, cols: 50, rows: 5, class: "comment-field" %></p>
	<%= f.submit "Add Comment", class: "btn btn-danger" %>
<% end %>